


.line{
    width: 65px;
    height: 1px;
    margin-top: 20px;
    background-color:rgba(0, 245, 255, 1);;
}
.headerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

