.skills{
    display: flex;
    justify-content: center;
    background:white;
    padding: 100px;
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);

}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;

}
.skillsWrapper{
margin-top: -150px;margin-bottom: -250px;
    flex-wrap: wrap;
    width: 100%;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.icon{*/
/*width: 75px;*/
/*    height: 75px;*/
/*    !*background-color: rgba(13,38,57,1);*!*/
/*    opacity: 1;*/
/*    border-radius: 50%;*/
/*    margin-bottom: 45px;*/
/*    display: flex;*/
/*    margin-top: 20px;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/


.skillTitle{ font-family: "Rubik","Arial",sans-serif;color: #5e5e5e;
    text-transform: uppercase;
    padding: 0;
    font-size: 19px;
    line-height:0

}

/*.icon img {*/
/*margin-top: 13px;*/
/*    width: 90%;*/
/*    transform: rotate(-45deg);*/
/*}*/
@media screen and (max-width: 1128px) {
    .skillsWrapper{
        flex-direction: column;
       align-items: center;
    }
}

@media screen and (max-width: 1128px) {
    .skill{
        width: 500px;
    }
    .description{
      margin-bottom: 20px;
    }
}


@media screen and (max-width: 630px) {
    .skill{
        width: 100%;
    }
}

/*.skills img {*/
/*    width: 80px;*/
/*    height: 60px;*/
/*    margin-top: 20px;*/
/*    float: right;*/
/*    border: 10px solid white;*/
/*    margin-bottom: 20px;*/
/*    background-color: white;*/
/*}*/
/*.column {*/
/*    -webkit-column-width: 200px;*/
/*    -moz-column-width: 200px;*/
/*    column-width: 200px;*/
/*    -webkit-column-count: 3;*/
/*    -moz-column-count: 3;*/
/*    column-count: 3;*/
/*    -webkit-column-gap: 30px;*/
/*    -moz-column-gap: 30px;*/
/*    column-gap: 30px;*/
/*    -webkit-column-rule: 1px solid #ccc;*/
/*    -moz-column-rule: 1px solid #ccc;*/
/*    column-rule: 1px solid #ccc;*/
/*    font-size: 20px;*/
/*    font-family: "Times New Roman";*/

/*}*/