.main {
    font-family: "Rubik","Arial",sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:#191a1d;
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 73%;
}

.photo{
    position: relative;
}
.photo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    transform: scale(1);
    transition: 500ms;
    z-index: 1;
}
.photo:hover{
    transform: scale(1.1,1.1);
    transition: 500ms;
}

.photo:before{
    content:"";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: black;
    margin-top: -30px;

}
.greeting {
    font-family: "Rubik",sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 23px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-weight: 400;
    font-size: 50px;
    position: relative;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 240px;
    height: 13px;
    background-color: black;
    bottom: 0px;
    z-index: -1;
}

@media screen and (max-width:600px){
    .photo img {
        width: 240px;
        height: 240px;
    }
    .photo:before{
        width: 250px;
        height:  250px;
        top: 15px;
        left: 5px;

    }

    .greeting span:nth-child(2) span {
        font-size: 30px;
    }
    .greeting span:nth-child(2) span:before {
        width: 140px;
        height: 8px;
    }
    .greeting span:nth-child(3)  {
        font-size: 20px;
    }
    .greeting span:nth-child(2) {
        font-size: 30px;

    }
}

