.navMenu{

    display: flex;
    justify-content: space-between;

}

/*.menuBtn {*/
/*    display: block;*/
/*  justify-content: right;*/
/*    width: 36px;*/
/*    height: 25px;*/
/*    background-color: #EADFFA;*/
/*    border-radius: 30%;*/
/*    position: relative;*/


/*}*/

.link {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}


/*.navigation{*/
/*    transition: 0.4s;*/
/*    transform: scaleX(1);*/
/*    transform-origin: left center;*/
/*}*/
/*.menuBtn span,*/
/*.menuBtn span::before,*/
/*.menuBtn span::after{*/
/*    position: absolute;*/
/*    margin-top: -1px;*/
/*    left: 50%;*/
/*    margin-left: -10px;*/
/*    top:50%;*/
/*    width: 20px;*/
/*    height: 2px;*/
/*    background-color: darkblue;*/
/*}*/



/*.menuBtn span::before,*/
/*.menuBtn span::after{*/
/*    content: '';*/
/*    display: block;*/
/*    transition: 0.5s;*/
/*}*/

/*.menuBtn span::before {*/
/*    transform: translateY(-5px);*/
/*}*/
/*.menuBtn span::after{*/
/*    transform: translateY(5px);*/
/*}*/
/*.menuBtnActive span::before {*/
/*    transform: rotate(45deg);*/
/*}*/

/*.menuBtnActive span::after {*/
/*    transform: rotate(-45deg);*/
/*}*/
