.footer {
    /*background-color:rgba(56,53,57,1);*/
    background-color: rgba(13,38,57,1);
    display: flex;
    justify-content: center;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
color: white;
position: relative;
    height: 150px;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    margin-top: -55px;
}

.socialBlock {
    display: flex;
    justify-content: space-between;
    width: 400px;

}
.socialIcon{
    width: 40px;
    height: 40px;
    border: 1px black solid;
    border-radius: 50%;
}

.copyRight{
    font-family: Montserrat,sans-serif;
    font-size: 12px;
}
.socialIcon:hover {
    transform: rotate(360deg);
    transition: 500ms;
}
.socialIcon img {
    width: 100%;
}
@media screen and (max-width: 626px) {
    .socialBlock{
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .socialIcon {
        width: 30px;
        height: 30px;
    }
}
/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/
/*.social {*/
/*    text-align: center;*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    float: left;*/
/*    background: #fff;*/
/*    border: 1px solid #ccc;*/
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);*/
/*    border-radius: 24px;*/
/*    margin: 0 10px 10px 0;*/
/*    padding: 6px;*/
/*    color: #000;*/

/*}*/


/*.instagram a:hover {background: #3f729b; color: #fff;}*/
/*.github a:hover {background: #191919; color: #fff;}*/